<!DOCTYPE html>
<html>
<head>
    <title>Авторизация</title>
</head>
<body>
<div style="position: relative; margin:200px auto; width: 350px; text-align: center; font-size: 20px">
    <div><b>Авторизация</b></div>
    <form style="margin: 10px" action="/login" method="post">
        <div style="margin-bottom: 10px"><label>Логин:<br><input type="text" name="username"/> </label></div>
        <div style="margin-bottom: 10px"><label> Пароль:<br><input type="password" name="password"/> </label></div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <div><a href="/registration">Регистрация</a> <input type="submit" value="Войти"/></div>
    </form>
</div>
</body>
</html>